.main-container4216 {
  /* background-color: violet; */
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 650px;
  position: relative;
}

.user-container4216 {
  background-color: black;
  height: 22.5px;
  position: relative;
  border: 0.5px solid black;
}

.user-info-container4216 {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 4px 15px;
}

.user-login4216 {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  margin: 0;
}

.links-container4216 {
  display: flex;
  align-items: center;
}

.update-link4216 {
  text-decoration: none;
  color: white; /* Set the initial color to grey */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  transition: color 0.25s; /* Add a transition property for smooth color change */
}

.update-link4216:hover {
  color: lightgrey; /* Change the color to black when the link is hovered */
}

.signout-link4216 {
  text-decoration: none;
  color: white; /* Set the initial color to grey */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  transition: color 0.25s; /* Add a transition property for smooth color change */
}

.signout-link4216:hover {
  color: lightgrey; /* Change the color to black when the link is hovered */
}

.separator4216 {
  width: 0.5px;
  height: 15px;
  background-color: white;
  margin: 0px 15px;
}

.content-container4216 {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.header-container4216 {
  /* background-color: red; */
  height: 105px;
  margin-top: 15px;
}

.controller-container4216 {
  /* background-color: lightblue; */
  height: 90px;
  position: relative;
}

.logo4216 {
  display: flex;
  max-width: 65.5px;
  max-height: 65.5px;
  width: auto;
  height: auto;
  margin: auto;
}

.link-container4216 {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 13px;
}

.link4216 {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
  font-size: 12.5px;
  font-weight: bold;
}

.link44216 {
  text-decoration: none;
  color: lightgrey; /* Set the initial color to grey */
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
  font-size: 12.5px;
  font-weight: bold;
  transition: color 0.25s; /* Add a transition property for smooth color change */
}

.link44216:hover {
  color: black; /* Change the color to black when the link is hovered */
}

.link444216 {
  text-decoration: none;
  color: lightgrey; /* Set the initial color to grey */
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
  font-size: 12.5px;
  font-weight: bold;
  transition: color 0.25s; /* Add a transition property for smooth color change */
}

.link444216:hover {
  color: black; /* Change the color to black when the link is hovered */
}

.separator-line44216 {
  height: 1px;
  background-color: lightgrey;
}

.middle-container4216 {
  display: flex;
  flex-direction: column;
  height: 467.5px;
  width: 100%;
  /* background-color: green; */
}

.dashboard-container4216 {
  display: flex;
  flex-direction: column;
  height: 52.5px;
  width: 100%;
  background-color: blue;
  position: relative; 
}

.filter-bar-container5616new37 {
  display: flex;
  align-items: center;
  /* background-color: orange; */
  height: 22.5px;
  width: 400px;
  margin-left: -130px;
}

.dropdown5616new37 {
  height: 22.5px;
  width: 216px;
  background-color: white;
  color: black;
  border: 0.5px solid black;
}

.filter-button-container5616new37 {
  height: 22.5px;
  width: 80.5px;
  /* background-color: blue; */
  margin-left: 15px;
}

.filter-button5616new37 {
  height: 22.5px;
  width: 80px;
  background-color: white;
  color: black;
  border: 0.5px solid black;
  border-radius: 11.25px;
  font-size: 12.5px;
  cursor: pointer;
  transition: background-color 0.25s;
  text-decoration: none; /* Remove underline */
}

.filter-button5616new37 a {
  text-decoration: none; /* Remove underline */
  color: black; /* Set text color to black */
}

.filter-button5616new37:hover {
  background-color: black;
  color: white;
}

.filter-button5616new37:hover a {
  color: white; /* Set text color to white on hover */
}

.stats-container4216 {
  display: flex;
  height: 22.5px;
  width: 100%;
  /* background-color: aqua; */
  margin-top: 15px;
}

.button-container4216 {
  display: flex;
  align-items: center;
  /* background-color: purple; */
  height: 22.5px;
  width: 150px;
}

.add-title4216 {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  font-weight: bold;
  align-items: center;
  margin-right: 7.5px;
  
}

.add-button4216 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.5px;
  height: 22.5px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  font-size: 17.5px;
  color: black;
  text-decoration: none;
  margin-left: 9px;
}

.add-button4216 > a {
  text-decoration: none; /* Remove underline */
}

.invent4216 {
  display: flex;
  height: 22.5px;
  width: 135px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-left: auto;
}

.invent-title-box4216 {
  display: flex;
  height: 9px;
  width: 72.5px;
  /* background-color: magenta; */
}

.invent-title4216 {
  font-size: 12.5px;
  font-weight: bold;
  margin-top: -2.5px;
}

.number01-box54216 {
  display: flex;
  height: 22.5px;
  width: 47.5px;
  /* background-color: magenta; */
  margin-left: auto;
  font-size: 30px;
}

.count0154216 {
  font-size: 22.5px;
  margin-top: -1.5px;
  font-weight: bold;
  margin-left: -1.5px;
}

.stats-separator0154216 {
  background-color: black;
  width: 0.5px;
  height: 22.5px;
  margin-left: 15px;
  margin-right: 15px;
}

.value54216 {
  display: flex;
  height: 22.5px;
  width: 105px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* margin-left: auto; */
}

.value-title-box54216 {
  display: flex;
  height: 9px;
  width: 41px;
  /* background-color: magenta; */
}

.value-title54216 {
  font-size: 12.5px;
  font-weight: bold;
  margin-top: -2.5px;
}

.number02-box54216 {
  display: flex;
  height: 22.5px;
  width: 47.5px;
  /* background-color: magenta; */
  margin-left: auto;
  font-size: 30px;
}

.count0254216 {
  font-size: 22.5px;
  margin-top: -1.5px;
  font-weight: bold;
  margin-left: -1.5px;
}

.stats-separator0254216 {
  background-color: black;
  width: 0.5px;
  height: 22.5px;
  margin-left: 15px;
  margin-right: 15px;
}

.resold54216 {
  display: flex;
  height: 22.5px;
  width: 114px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* margin-left: auto; */
}

.resold-title-box54216 {
  display: flex;
  height: 9px;
  width: 51.5px;
  /* background-color: magenta; */
}

.resold-title54216 {
  font-size: 12.5px;
  font-weight: bold;
  margin-top: -2.5px;
}

.number03-box54216 {
  display: flex;
  height: 22.5px;
  width: 47.5px;
  /* background-color: magenta; */
  margin-left: auto;
  font-size: 30px;
}

.count0354216 {
  font-size: 22.5px;
  margin-top: -1.5px;
  font-weight: bold;
  margin-left: -1.5px;
}

.stats-separator0354216 {
  background-color: black;
  width: 0.5px;
  height: 22.5px;
  margin-left: 15px;
}

.profit54216 {
  display: flex;
  height: 22.5px;
  width: 109px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* margin-left: auto; */
  margin-left: 15px;
}

.profit-title-box54216 {
  display: flex;
  height: 9px;
  width: 46px;
  /* background-color: magenta; */
}

.profit-title54216 {
  font-size: 12.5px;
  font-weight: bold;
  margin-top: -2.5px;
}

.number04-box54216 {
  display: flex;
  height: 22.5px;
  width: 47.5px;
  /* background-color: magenta; */
  margin-left: auto;
  font-size: 30px;;
}

.count0454216 {
  font-size: 22.5px;
  margin-top: -1.5px;
  font-weight: bold;
  margin-left: -1.5px;
}

.separator-line444216 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: lightgrey;
}

.body-container4216 {
  display: flex;
  height: 400.5px;
  width: 100%;
  /* background-color: orange; */
  margin-top: 15px;
}

.added-sneaker-frame4216 {
  display: flex;
  height: 334px;
  width: 270px;
  /* background-color: aqua; */
  border-radius: 5%;
  border: 1px solid red;
}

.added-sneaker-container4216 {
  display: flex;
  height: 270px;
  width: 240px;
  /* background-color: white; */
  margin-left: 15px;
  margin-top: 15px;
  flex-direction: column;
  
}

.added-sneaker-header4216 {
  height: 30px;
  width: 210px;
  background-color: white;
  margin-left: 15px;
  display: grid;
  place-items: center;
  position: relative;
}

.added-sneaker-logo4216 {
  height: 30px;
  width: auto;
  /* background-color: blue; */
}

.added-sneaker-pic4216 {
  height: 182.5px;
  width: 240px;
  background-image: url("aj3.png");
  background-size: contain;
  margin-left: -15px;
}

.added-sneaker-info4216 {
  height: 61.5px;
  width: 240px;
  /* background-color: pink; */
  margin-left: -15px;
}

.added-sneaker-brand4216 {
  font-size: 12.5px;
  font-weight: bold;
  margin-top: -2.5px;
}

.added-sneaker-model4216 {
  font-size: 12.5px;
  margin-top: -7.5px;
}

.added-sneaker-size4216 {
  font-size: 10px;
  margin-top: -6px;
}

.added-sneaker-price4216 {
  font-size: 10px;
  margin-top: -7.5px;
}

.added-sneaker-buttons4216 {
  height: 15px;
  width: 240px;
  /* background-color: pink; */
  margin-top: 15px;
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hold-sneaker-link4216 {
  text-decoration: none;
  color: black; /* Set the initial color to grey */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  cursor: pointer;
}

.list-sneaker-link4216 {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  cursor: pointer;
}

.sold-sneaker-link4216 {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  cursor: pointer;
}

.sold-sneaker-link4216:hover {
  color: red; /* Change the color to black when the link is hovered */
}

.separator44444216 {
  width: 0.5px;
  height: 15px;
  background-color: black;
  margin: 0px 15px;
}

.footer-container4216 {
  /* background-color: pink; */
  height: 37.5px;
}

.retailor-container4216 {
  height: 22.5px;
  /* background-color: blue; */
  margin-top: 15px;
  /* border: 0.5px solid black; */
}

.nike4216 {
  height: 15px;
  margin-right: 15px;
  margin-top: 4px;
}

.adidas4216 {
  height: 15px;
  margin-right: 15px;
  /* margin-left: 15px; */
  margin-top: 3.5px;
}

.jordan4216 {
  height: 15px;
  margin-right: 15px;
  margin-top: 3.5px;
}

.yeezy4216 {
  height: 15px;
  margin-right: 15px;
  margin-top: 3.5px;
}

.new-balance4216 {
  height: 15px;
  margin-top: 7.5px;
} 

.stockx4216 {
  width: auto;
  height: 15px;
  position: absolute; 
  right: 0;
  margin-top: 7.5px;
  /* margin-right: 15px; */
}