.signup-form {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
  }
  
  .logo2 {
    max-width: 30%;
    max-height: 30%;
    width: auto;
    height: auto;
    margin-bottom: 45px;
  }
  
  .input-container2 {
    width: 100%;
    max-width: 350px; 
    display: flex;
    flex-direction: column;
  }
  
  .input-box2 {
    background-color: black;
    color: white;
    border: 0.5px solid white;
    padding: 7.5px;
    margin-bottom: 15px;
  }

  .input-box2::placeholder {
    color: white;
  }

  .input-box3 {
    background-color: black;
    color: white;
    border: 0.5px solid white;
    padding: 7.5px;
    margin-bottom: 45px;
  }

  .input-box3::placeholder {
    color: white;
  }
  
  .button-container2 {
    display: flex;
    align-items: center;
  }
  
  .link-button2 {
    display: flex;
    align-items: center;
    background-color: black;
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    border: none;
    padding: 0px 0px;
    cursor: pointer;
  }