.login-form1 {
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.signup-frame1 {
    height: 469px;
    width: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.signup-container1 {
    height: 409px;
    width: 325px;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    align-items: center; /* Added */
    justify-content: center; /* Added */
}

.logo-container1 {
    height: 260px;
    width: 325px;
    /* background-color: blue; */
    top: 0;
    display: flex;
    justify-content: center;
}

.logo1 {
    height: 260px;
    width: auto;
}

.password-container1 {
    height: 59px;
    width: 325px;
    /* background-color: purple; */
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.email-box1 {
    height: 15px;
    background-color: black;
    color: white;
    border: 0.5px solid white;
    padding: 5px;
    margin-bottom: 7.5px;
}

.email-box1::placeholder {
    color: white;
    font-size: 12.5px;
}

.password-box1 {
    height: 15px;
    background-color: black;
    color: white;
    border: 0.5px solid white;
    padding: 5px;
}

.password-box1::placeholder {
    color: white;
    font-size: 12.5px;
}

.button-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin-top: 30px;
  }
  
  .separator1 {
    width: 0.5px;
    height: 30px;
    background-color: white;
    margin: 0px 15px;
  }
  
  .link-button1 {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 12.5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;
    transition: color 0.25s; /* Add a transition property for smooth color change */
  }
  
  .link-button1:hover {
    color: grey; /* Change the color to black when the link is hovered */
  }




