.main-container5new {
  /* background-color: violet; */
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 650px;
  position: relative;
}

.user-container5new {
  background-color: black;
  height: 22.5px;
  position: relative;
  border: 0.5px solid black;
}

.user-info-container5new {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 4px 15px;
}

.user-login5new {
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  margin: 0;
}

.links-container5new {
  display: flex;
  align-items: center;
}

.update-link5new {
  text-decoration: none;
  color: white; /* Set the initial color to grey */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  transition: color 0.25s; /* Add a transition property for smooth color change */
}

.update-link5new:hover {
  color: lightgrey; /* Change the color to black when the link is hovered */
}

.signout-link5new {
  text-decoration: none;
  color: white; /* Set the initial color to grey */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  transition: color 0.25s; /* Add a transition property for smooth color change */
}

.signout-link5new:hover {
  color: lightgrey; /* Change the color to black when the link is hovered */
}

.separator5new {
  width: 0.5px;
  height: 15px;
  background-color: white;
  margin: 0px 15px;
}

.content-container5new {
  flex: 1; 
  display: flex;
  flex-direction: column;
}

.header-container5new {
  /* background-color: red; */
  height: 105px;
  margin-top: 15px;
}

.controller-container5new {
  /* background-color: lightblue; */
  height: 90px;
  position: relative;
}

.logo5new {
  display: flex;
  max-width: 65.5px;
  max-height: 65.5px;
  width: auto;
  height: auto;
  margin: auto;
}

.link-container5new {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 13px;
}

.link5new {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
  font-size: 12.5px;
  font-weight: bold;
}

.link55new {
  text-decoration: none;
  color: lightgrey; /* Set the initial color to grey */
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
  font-size: 12.5px;
  font-weight: bold;
  transition: color 0.25s; /* Add a transition property for smooth color change */
}

.link55new:hover {
  color: black; /* Change the color to black when the link is hovered */
}

.link555new {
  text-decoration: none;
  color: lightgrey; /* Set the initial color to grey */
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 30px;
  font-size: 12.5px;
  font-weight: bold;
  transition: color 0.25s; /* Add a transition property for smooth color change */
}

.link555new:hover {
  color: black; /* Change the color to black when the link is hovered */
}

.separator-line55new {
  height: 1px;
  background-color: lightgrey;
}

.middle-container5new {
  display: flex;
  flex-direction: column;
  height: 467.5px;
  width: 100%;
  /* background-color: green; */
}

.dashboard-container5new {
  display: flex;
  flex-direction: column;
  height: 52.5px;
  width: 100%;
  /* background-color: blue; */
  position: relative; 
}

.stats-container5new {
  display: flex;
  height: 22.5px;
  width: 100%;
  /* background-color: aqua; */
  margin-top: 15px;
}

.button-container5new {
  display: flex;
  align-items: center;
  /* background-color: purple; */
  height: 22.5px;
  width: 131px;
}

.add-title5new {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  font-weight: bold;
  align-items: center;
  margin-right: 7.5px;
  
}

.add-button5new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22.5px;
  height: 22.5px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: white;
  font-size: 17.5px;
  color: black;
  text-decoration: none;
  margin-left: 9px;
}

.add-button5new > a {
  text-decoration: none; /* Remove underline */
}

.filter-bar-container5616new {
  display: flex;
  align-items: center;
  /* background-color: orange; */
  height: 22.5px;
  width: 400px;
  margin-left: 30px;
}

.dropdown5616new {
  height: 22.5px;
  width: 216px;
  background-color: white;
  color: black;
  border: 0.5px solid black;
}

.filter-button-container5616new {
  height: 22.5px;
  width: 80.5px;
  /* background-color: blue; */
  margin-left: 15px;
}

.filter-button5616new {
  height: 22.5px;
  width: 80px;
  background-color: white;
  color: black;
  border: 0.5px solid black;
  border-radius: 11.25px;
  font-size: 12.5px;
  cursor: pointer;
  transition: background-color 0.25s;
  text-decoration: none; /* Remove underline */
}

.filter-button5616new a {
  text-decoration: none; /* Remove underline */
  color: black; /* Set text color to black */
}

.filter-button5616new:hover {
  background-color: black;
  color: white;
}

.filter-button5616new:hover a {
  color: white; /* Set text color to white on hover */
}

.invent5new {
  display: flex;
  height: 22.5px;
  width: 135px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-left: auto;
}

.invent-title-box5new {
  display: flex;
  height: 9px;
  width: 72.5px;
  /* background-color: magenta; */
}

.invent-title5new {
  font-size: 12.5px;
  font-weight: bold;
  margin-top: -2.5px;
}

.number01-box5new {
  display: flex;
  height: 22.5px;
  width: 47.5px;
  /* background-color: magenta; */
  margin-left: auto;
  font-size: 30px;
}

.count015new {
  font-size: 22.5px;
  margin-top: -1.5px;
  font-weight: bold;
  margin-left: -1.5px;
}

.stats-separator015new {
  background-color: black;
  width: 0.5px;
  height: 22.5px;
  margin-left: 15px;
  margin-right: 15px;
}

.value5new {
  display: flex;
  height: 22.5px;
  width: 105px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* margin-left: auto; */
}

.value-title-box5new {
  display: flex;
  height: 9px;
  width: 41px;
  /* background-color: magenta; */
}

.value-title5new {
  font-size: 12.5px;
  font-weight: bold;
  margin-top: -2.5px;
}

.number02-box5new {
  display: flex;
  height: 22.5px;
  width: 47.5px;
  /* background-color: magenta; */
  margin-left: auto;
  font-size: 30px;
}

.count025new {
  font-size: 22.5px;
  margin-top: -1.5px;
  font-weight: bold;
  margin-left: -1.5px;
}

.stats-separator025new {
  background-color: black;
  width: 0.5px;
  height: 22.5px;
  margin-left: 15px;
  margin-right: 15px;
}

.resold5new {
  display: flex;
  height: 22.5px;
  width: 114px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* margin-left: auto; */
}

.resold-title-box5new {
  display: flex;
  height: 9px;
  width: 51.5px;
  /* background-color: magenta; */
}

.resold-title5new {
  font-size: 12.5px;
  font-weight: bold;
  margin-top: -2.5px;
}

.number03-box5new {
  display: flex;
  height: 22.5px;
  width: 47.5px;
  /* background-color: magenta; */
  margin-left: auto;
  font-size: 30px;
}

.count035new {
  font-size: 22.5px;
  margin-top: -1.5px;
  font-weight: bold;
  margin-left: -1.5px;
}

.stats-separator035new {
  background-color: black;
  width: 0.5px;
  height: 22.5px;
  margin-left: 15px;
}

.profit5new {
  display: flex;
  height: 22.5px;
  width: 109px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* margin-left: auto; */
  margin-left: 15px;
}

.profit-title-box5new {
  display: flex;
  height: 9px;
  width: 46px;
  /* background-color: magenta; */
}

.profit-title5new {
  font-size: 12.5px;
  font-weight: bold;
  margin-top: -2.5px;
}

.number04-box5new {
  display: flex;
  height: 22.5px;
  width: 47.5px;
  /* background-color: magenta; */
  margin-left: auto;
  font-size: 30px;;
}

.count045new {
  font-size: 22.5px;
  margin-top: -1.5px;
  font-weight: bold;
  margin-left: -1.5px;
}

.separator-line555new {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: lightgrey;
}

.body-container5new {
  display: flex;
  height: 400.5px;
  width: 100%;
  /* background-color: orange; */
  margin-top: 15px;
}

.added-sneaker-frame5new {
  display: flex;
  height: 334px;
  width: 270px;
  /* background-color: aqua; */
  border-radius: 5%;
  border: 1px solid black;
}

.added-sneaker-container5new {
  display: flex;
  height: 270px;
  width: 240px;
  /* background-color: white; */
  margin-left: 15px;
  margin-top: 15px;
  flex-direction: column;
  
}

.added-sneaker-header5new {
  height: 30px;
  width: 210px;
  background-color: white;
  margin-left: 15px;
  display: grid;
  place-items: center;
  position: relative;
}

.added-sneaker-logo5new {
  height: 30px;
  width: auto;
  /* background-color: blue; */
}

.added-sneaker-pic5new {
  height: 182.5px;
  width: 240px;
  background-image: url("nb2002r.png");
  background-size: contain;
  margin-left: -15px;
}

.added-sneaker-info5new {
  height: 61.5px;
  width: 240px;
  /* background-color: pink; */
  margin-left: -15px;
}

.added-sneaker-brand5new {
  font-size: 12.5px;
  font-weight: bold;
  margin-top: -2.5px;
}

.added-sneaker-model5new {
  font-size: 12.5px;
  margin-top: -7.5px;
}

.added-sneaker-size5new {
  font-size: 10px;
  margin-top: -6px;
}

.added-sneaker-price5new {
  font-size: 10px;
  margin-top: -7.5px;
}

.added-sneaker-buttons5new {
  height: 15px;
  width: 240px;
  /* background-color: pink; */
  margin-top: 15px;
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hold-sneaker-link5new {
  text-decoration: none;
  color: black; /* Set the initial color to grey */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  cursor: pointer;
}

.list-sneaker-link5new {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  cursor: pointer;
}

.sold-sneaker-link5new {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  cursor: pointer;
}

.sold-sneaker-link5new:hover {
  color: red; /* Change the color to black when the link is hovered */
}

.added-sneaker-frame5new456 {
  display: flex;
  height: 334px;
  width: 270px;
  /* background-color: aqua; */
  border-radius: 5%;
  border: 1px solid black;
  margin-right: 30px;
}

.added-sneaker-container5new456 {
  display: flex;
  height: 270px;
  width: 240px;
  /* background-color: white; */
  margin-left: 15px;
  margin-top: 15px;
  flex-direction: column;
  
}

.added-sneaker-header5new456 {
  height: 30px;
  width: 210px;
  background-color: white;
  margin-left: 15px;
  display: grid;
  place-items: center;
  position: relative;
}

.added-sneaker-logo5new456 {
  height: 30px;
  width: auto;
  /* background-color: blue; */
}

.added-sneaker-pic5new456 {
  height: 182.5px;
  width: 240px;
  background-image: url("zebra.png");
  background-size: contain;
  margin-left: -15px;
}

.added-sneaker-info5new456 {
  height: 61.5px;
  width: 240px;
  /* background-color: pink; */
  margin-left: -15px;
}

.added-sneaker-brand5new456 {
  font-size: 12.5px;
  font-weight: bold;
  margin-top: -2.5px;
}

.added-sneaker-model5new456 {
  font-size: 12.5px;
  margin-top: -7.5px;
}

.added-sneaker-size5new456 {
  font-size: 10px;
  margin-top: -6px;
}

.added-sneaker-price5new456 {
  font-size: 10px;
  margin-top: -7.5px;
}

.added-sneaker-buttons5new456 {
  height: 15px;
  width: 240px;
  /* background-color: pink; */
  margin-top: 15px;
  margin-left: -15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hold-sneaker-link5new456 {
  text-decoration: none;
  color: black; /* Set the initial color to grey */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  cursor: pointer;
}

.list-sneaker-link5new456 {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  cursor: pointer;
}

.sold-sneaker-link5new456 {
  text-decoration: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5px;
  cursor: pointer;
}

.sold-sneaker-link5new456:hover {
  color: red; /* Change the color to black when the link is hovered */
}

.separator55555new {
  width: 0.5px;
  height: 15px;
  background-color: black;
  margin: 0px 15px;
}

.footer-container5new {
  /* background-color: pink; */
  height: 37.5px;
}

.retailor-container5new {
  height: 22.5px;
  /* background-color: blue; */
  margin-top: 15px;
  /* border: 0.5px solid black; */
}

.nike5new {
  height: 15px;
  margin-right: 15px;
  margin-top: 4px;
}

.adidas5new {
  height: 15px;
  margin-right: 15px;
  /* margin-left: 15px; */
  margin-top: 3.5px;
}

.jordan5new {
  height: 15px;
  margin-right: 15px;
  margin-top: 3.5px;
}

.yeezy5new {
  height: 15px;
  margin-right: 15px;
  margin-top: 3.5px;
}

.new-balance5new {
  height: 15px;
  margin-top: 7.5px;
} 

.stockx5new {
  width: auto;
  height: 15px;
  position: absolute; 
  right: 0;
  margin-top: 7.5px;
  /* margin-right: 15px; */
}